#about{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(31, 41, 41);
    display: flex;
    padding-top: 120px;
     

}
.leftabout{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.circle-line{
    display: flex;
    align-items: center;
    flex-direction:column;
    margin-left: -500px;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #7ad7ea;
    box-shadow: 2px 2px 20px #7ad7ea ;
}
.line{
  width: 3px;
  height: 120px;
  background-color: aliceblue;  
}
.aboutdetail{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 60px;
    padding-top: 10px;
}
.aboutdetail ul{
    list-style: none;
}
.aboutdetail h1{
    background: linear-gradient(to right,rgb(198,42, 96),
    white);
    background-clip: text;
    color: transparent;
}
.aboutdetail li{
    color: white;
}
.aboutdetail span{
    color: #7ad7ea;
}